@import "../../assets/scss/_variables.scss";

.header {
  display: flex;
  position: fixed;
  background: $body-color;
  top: 0;
  height: 75px;
  width: 100%;
  border-bottom: 2px solid $box-color;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;

    &.fixed {
      visibility: visible;
      opacity: 1;
    }

  h1 {
    a {

      color: $level2-color;
      text-decoration: none;
      font-weight: 900;
    }
    font-size: 2.25em;
    margin: 0;

    span {
      @include outline-text;
    }
  }

  .menu {
    margin: 0;
  }

  .mobile-menu {
    display: none;

    .hamburger {
      cursor: pointer;
      background: $body-color;
      border: 0;
      font-size: 2em;
      color: $link-color;
    }
  }

  ul > li {
    display: inline-block;
    zoom:1;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 0;

  }

  @media screen and (max-width: 800px) {
    h1 {
      font-size: 1.75em;
    }

    .menu {
      display: none;
    }

    .mobile-menu {
      display: inline;
    }
  }
}
