@import "../assets/scss/_variables.scss";

.header {
  display: flex;
  position: fixed;
  background: $body-color;
  top: 0;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #264858;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;

    &.fixed {
      visibility: visible;
      opacity: 1;
    }

  h1 {
    a {
      color: $level1-color;
      text-decoration: none;
    }
    font-size: 2.25em;
    margin: 0;

    span {
      @include outline-text;
    }
  }

  ul {
    margin: 0;
  }

  ul > li {
    display: inline-block;
    zoom:1;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 0;

  }
}
