@import "../../../assets/scss/_variables.scss";

.item {
  margin: 10px 30px 100px 30px;

  .name {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;

    .dates {
      font-size: .7em;
      font-weight: normal;
    }
  }

  .role {
    margin-bottom: 10px;
  }

  .techlist {
    margin-bottom: 10px;
    color: $level1-color;
  }

  .details {

    border-left: 5px solid $border-color;
    background: $box-color;
    padding: 15px 25px;
  }
}

@media screen and (max-width: 450px) {
  .item {
    margin: 10px 5px 100px 5px;

    .name {
      flex-wrap: wrap;
      margin-bottom: 10px;

    }

    .techlist {
      font-size: .8em;
    }

    .details {
      padding: 15px 20px;
      font-size: .9em;
    }
  }
}
