@import "../../assets/scss/_variables.scss";

.colophon {
  text-align: center;
  background: $box-color;
  padding: 25px;

  p {
    margin-bottom: 5px;

    .name {
      color: #333533;
    }
  }
}

@media screen and (max-width: 450px) {
  .colophon {
    padding: 25px 5px;
  }
}
