@import "./scss/_variables.scss";

body {
  background: $body-color;
  color: $text-color;

  h1 {
    color: $level1-color;
    font-weight: 600;
  }

  h2 {
    color: $level2-color;
    font-weight: 500;
  }

  h3 {
    color: $level3-color;
    font-weight: 500;
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}
