@import "./scss/_variables.scss";

body {
  background: $body-color;
  color: $text-color;
}

h1 {
  color: $level1-color;
  font-weight: 700;
}

h2 {
  color: $level2-color;
  font-weight: 700;
}

h3 {
  color: $level3-color;
  font-weight: 400;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  width: 1000px;
  margin: 150px auto 50px;
}

@media screen and (max-width: 450px) {
  .content {
    width: auto;
    margin: 50px 5px 50px;
  }
}

@media screen and (min-width: 451px)  and (max-width: 1024px) {
  .content {
    width: auto;
    margin: 50px 25px 50px;
  }
}
